*{
    background-color: black;
    color: white;
}

.containerBig{
    width: 100%;

}

.cardContainer{
    width: 80%;
    display: flex;
    flex-wrap:wrap ;
    gap: 20px;
    margin: auto;
    align-items: flex-start;
}
.filtersContainer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.loadMore{
    margin: auto;
    text-align: center;
}