header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #14213dde;
  line-height: 40px;
  color: white;
}
header img {
  max-height: 69px;
}
.text h2 {
  color: white !important;
  font-family: revert;
  padding-top: 15px;
}
