.vertical{
    background-color: rgb(38, 0, 173);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: cornsilk 1px 1px;
    margin: auto;
    width: 200px;
}
.horizontal{
    background-color: rgb(38, 0, 173);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.hidden{
    display: none;
}
.show{
    display: block;
    background-color: inherit;
}
.show p{
    background-color: inherit;
}
.closeSong{
    background-color: rgb(38, 0, 173);
    display: flex;
    justify-content: right; 
}
.fa-window-close:hover{
    color: red;
    cursor: pointer;
}
.containerSong{
    background-color: inherit;
}
.containerSong p, h3{
    background-color: inherit;
}
.imageSong{
    border-radius: 10px;
    margin-top: 5px;

}
.btn_show{
    background-color:cornflowerblue;
    color: white;
    margin:auto;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 7px;
}
.btn_show:hover{
    cursor: pointer;
    background-color:rgb(57, 115, 221);

}
.containerBottom{
    display: flex;
    background-color: inherit;
}
.fa-chevron-right{
    cursor: pointer;
    background-color: inherit;
}
.fa-chevron-left{
    cursor: pointer;
    background-color: inherit;
}
.fa-chevron-right:hover{
    color: cornflowerblue;
}
.fa-chevron-left:hover{
    color: cornflowerblue;
}
h3{
    color: white;
}