.vertical {
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  /* box-shadow: cornsilk 1px 1px; */
  margin: auto;
  width: 200px;
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.247);
}
.horizontal {
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  margin: auto;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.247);
}

.vertical:hover {
  transform: scale(1.025);
}
.horizontal:hover {
  transform: scale(1.025);
}

.hidden {
  display: none;
}
.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.show p {
  text-align: left;
  margin: 0 0 20px 0;
}
.closeSong {
  display: flex;
  justify-content: right;
}
.fa-times:hover {
  color: red;
  cursor: pointer;
}

.imageSong {
  border-radius: 10px;
  margin-top: 5px;
}
.btn_show {
  background-color: #240046;
  color: white;
  margin: auto;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 7px;
}
.btn_show:hover {
  cursor: pointer;
  background-color: #ff9e00;
  color: black;
}
.containerBottom {
  display: flex;
}
.fa-chevron-right {
  cursor: pointer;
}
.fa-chevron-left {
  cursor: pointer;
}
.fa-chevron-up {
  cursor: pointer;
}
.fa-chevron-down {
  cursor: pointer;
}
.fa-chevron-right:hover {
  color: cornflowerblue;
}
.fa-chevron-left:hover {
  color: cornflowerblue;
}
.fa-chevron-up:hover {
  color: cornflowerblue;
}
.fa-chevron-down:hover {
  color: cornflowerblue;
}
h3 {
  color: white;
}
